#leftDiv {
    float: left;
    margin-left: 15px;
}

#rightDiv {
    float: right;
    margin-right: 15px;
}

.CodeMirror {
    font-family: Monaco, monospace !important;
    font-size: 14px;
}

.sidebar {
    background-color: #24272e;
}

.pane-sm {
    width: 20%;
    max-width: 20%;
    overflow: auto;
}

.pane {
    width: 80%;
    max-width: 80%;
}

.nav-group {
    /* border: 1px solid red; */
}

.pane {
    border-left: 1px solid #666;
}

.nav-group-item {
    color: #929bab;
    font-family: Helvetica, Arial, sans-serif
}

.nav-group-item .icon {
    color: #929bab;
    margin-right: 2px;
}

.nav-group-item #text {
    color: red;
    margin-left: 5px;
}

.nav-group-title {
    color: #929bab;
}

span.nav-group-item {
    padding-left: 15px;
    /* border: 1px solid red; */
}

.nav-item-text {
    margin-left: 5px;
}

.one-space {
    width: 22px;
    height: 18px;
    float: left;
    /* border: 1px solid red; */
}

.one-deep {
    margin-left: 22px;
}

.icon {
    /* border: 1px solid red; */
}

.content-area {
    /* height: 30px; */
    margin-left: 6px;
    /* border: 1px solid red; */
}

.nav-group-item:active, .nav-group-item.active {
    background-color: transparent;
}

.nav-item-text {
    /* border: 1px solid red; */
}

.mode-input {
    width: 150px;
}

.bold {
    font-weight: bold;
    color: white;
}

.mode-label {
    margin-left: 10px;
    color: #ccc;
    position: relative;
    top: 4px;
}

#modeValue {
    padding-left: 5px;
    color: #aaa;
    position: relative;
    top: 4px;
}

.toolbar-footer {
    background-color: #1e2126;
    background-image: none;
    color: 'white';
    box-shadow: none;
    border-top: 1px solid #111;
}

.file-active {
    background-color: #3a3f4b !important;
    color: #ddd;
}

.btn-dark {
    background-color: #383d48;
    color: #9da5b3;
    border: 1px solid #181a1f;
    padding: 6px 10px 6px;
}

.CodeMirror-dialog-top {
    border: 1px solid #eee;
    top: 10px;
    left: 80px;
    position: absolute;
}

.CodeMirror-dialog {
    background-color: #333333;
    opacity: 1;
    z-index: 10;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #666;
}

.CodeMirror-search-field {
    background-color: #333;
    border: 1px solid #222;
}

#editor {
    background-color: #222;
    border: 1px solid transparent;
}

.tab-item {
    max-width: 250px;
    background-color: #24272e;
    background-image: none;
    color: #ddd;
    border-left: none;
    color: #777;
}

span.filename {
    line-height: 20px;
}

.tab-item.active {
    border-left: 2px solid #598def;
    color: white;
    background-image: none;
    background-color: #24272e;
}

.tab-group {
    border-bottom: none;
    background-color: #222;
}